<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript"
        src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=lfAI2WGV7_J5L2-aLWgKy7iqWxfYWcj4q1ZHDVU2-cuj6YsobqWDyBDajEJd5Z6_Su7gRR60jjlM-VGpN0KoTA"
        charset="UTF-8"></script>
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>
    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <div>
            <input class="search" type="text" placeholder="Search..">
        </div>
        <ul>
            <li class="ROUGE"> <a href="http://127.0.0.1:5500/html/homepage.html"></a> </li>
            <li class="YELLOW"><a href="#"></a></li>
            <li class="BLUE"><a href="#"></a></li>
            <li class="VERT"><a href="#"></a></li>
            <li class="ROSE"><a href="#"></a></li>
            <li class="NOIR"><a href="#"></a></li>
            <li class="ORANGE"><a href="#"></a></li>
        </ul>
        <div class="menu"><i class="fas fa-bars fa-2x "></i></div>
    </nav>

    <div class="containerfilmpage">

        <div class="fcategory1">
            <a href="#"><img class="imgfilmpage"
                    src="https://librairieforumdulivre.files.wordpress.com/2017/10/geluck-e1507718621909.jpg?w=663"
                    alt="">
                <p class="pfilmpage">Film's name </p>
                <p class="pfilmpage">Year </p>
            </a>

        </div>

        <div class="fcategory2">
            <a href="#"><img class="imgfilmpage"
                    src="https://librairieforumdulivre.files.wordpress.com/2017/10/geluck-e1507718621909.jpg?w=663"
                    alt="">
                <p class="pfilmpage">Film's name </p>
                <p class="pfilmpage">Year </p>
            </a>

        </div>

        <div class="fcategory3">
            <a href="#"> <img class="imgfilmpage"
                    src="https://librairieforumdulivre.files.wordpress.com/2017/10/geluck-e1507718621909.jpg?w=663"
                    alt="">
                <p class="pfilmpage">Film's name </p>
                <p class="pfilmpage">Year </p>
            </a>

        </div>

        <div class="fcategory4">
            <a href="#"><img class="imgfilmpage"
                    src="https://librairieforumdulivre.files.wordpress.com/2017/10/geluck-e1507718621909.jpg?w=663"
                    alt="">
                <p class="pfilmpage">Film's name </p>
                <p class="pfilmpage">Year </p>
            </a>

        </div>

        <div class="fcategory5">
            <a href="#"> <img class="imgfilmpage"
                    src="https://librairieforumdulivre.files.wordpress.com/2017/10/geluck-e1507718621909.jpg?w=663"
                    alt="">
                <p class="pfilmpage">Film's name </p>
                <p class="pfilmpage">Year </p>
            </a>

        </div>

        <div class="fcategory6">
            <a href="#"> <img class="imgfilmpage"
                    src="https://librairieforumdulivre.files.wordpress.com/2017/10/geluck-e1507718621909.jpg?w=663"
                    alt="">
                <p class="pfilmpage">Film's name </p>
                <p class="pfilmpage">Year </p>
            </a>

        </div>

    </div>

    <footer class="footerfilmpage">
        <p class="rights">© All Rights Reserved </p>
    </footer>

</body>

</html>